# Token do Bot do Discord (Obtido na aba Bot no Discord Developer Portal)
DISCORD_TOKEN=seu_token_aqui

# ID do Cliente / ID da Aplicação (Obtido na aba General Information ou no CREDENCIAIS.md)
DISCORD_CLIENT_ID=id_client
