# Token do Bot do Discord (Obtido na aba Bot no Discord Developer Portal)
DISCORD_TOKEN=MTUxNzM1MzkzNDQwMDc4NjYxNQ.GPnplA.Rv5oJe_hvS-Rz2Kde5owCOctplEW7uUfSFvrJg

# ID do Cliente / ID da Aplicação (Obtido na aba General Information ou no CREDENCIAIS.md)
DISCORD_CLIENT_ID=1517353934400786615
