node_modules/
.env
.DS_Store
*.log

# Credenciais
.env
CREDENCIAIS.md

# Chaves SSH
*.key
*.pub

# Arquivos locais
conectar.bat

# Documentação privada
APAGAR_GIT.md
TUTORIAL_ORACLE.md

# PASTA
ignorar/